<div class="container">
  <footer
    class="d-flex justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="d-flex align-items-center">
      <a href="/" class="me-2 text-muted text-decoration-none">
        <i class="fa-solid fa-compass fa-lg"></i>
      </a>
      <span class="text-muted">© 2024 deWebdev Creations</span>
    </div>

    <ul class="nav list-unstyled d-flex gap-3">
      <li>
        <a class="text-muted" href="#">
          <i class="fa-brands fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a class="text-muted" href="#">
          <i class="fa-brands fa-instagram fa-lg"></i>
        </a>
      </li>
      <li>
        <a class="text-muted" href="#">
          <i class="fa-brands fa-facebook fa-lg"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
