<% layout('/layouts/boilerplate') -%>
<body>
  <div class="container mt-4">
    <form
      class="row g-3 needs-validation"
      action="/listings/new"
      method="POST"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="col-12 mb-3">
        <label for="inputTitle1" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          name="listing[title]"
          id="inputTitle1"
          placeholder="Enter the title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter the title.</div>
      </div>
      <div class="col-12 mb-3">
        <label for="inputImageUrl" class="form-label">Upload Image</label>
        <input
          type="file"
          class="form-control"
          id="inputImageUrl"
          name="listing[image]"
          required
        />
        <div class="invalid-feedback">Please provide a valid Image</div>
      </div>

      <div class="col-12 mb-3">
        <label for="inputDescription" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="inputDescription"
          aria-label="Description"
          name="listing[description]"
          rows="4"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter the description.</div>
      </div>

      <div class="col-12 mb-3">
        <label for="inputPrice" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text">₹</span>
          <input
            type="text"
            class="form-control"
            aria-label="Rupee amount"
            name="listing[price]"
            id="inputPrice"
            required
          />
        </div>
        <div class="invalid-feedback">Please provide a valid price.</div>
      </div>

      <div class="col-12 mb-3">
        <label for="inputLocation" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="inputLocation"
          name="listing[location]"
          required
        />
        <div class="invalid-feedback">Please select a valid location.</div>
      </div>

      <div class="col-12 mb-3">
        <label for="inputCountry" class="form-label">Country</label>
        <select
          id="inputCountry"
          class="form-select"
          name="listing[country]"
          required
        >
          <option value="">Choose...</option>
          <option value="1">India</option>
        </select>

        <div class="invalid-feedback">Please select a valid country.</div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <style>
    .container {
      max-width: 600px;
    }
    .form-control,
    .form-select,
    .btn {
      width: 100%;
    }
    .input-group-text {
      min-width: 45px;
    }
  </style>
</body>
