<% layout('/layouts/boilerplate') -%>
<head>
  <style>
    .card-img-top.custom-img {
      height: 200px;
      object-fit: cover;
    }
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <% allListings.forEach(list => { %>
      <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <a href="/listings/<%= list._id %>">
          <div class="card h-100">
            <img
              src="<%= list.image %>"
              class="card-img-top custom-img"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                <%= list.title %> <br />
                ₹<%= list.price %>
              </p>
            </div>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
  </div>
</body>
